* {
  border: none;
  border-radius: 0;
  font-family: "Segoe UI", 'Hack Nerd Font';
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
  color: white;
}

#workspaces button {
  padding: 0 5px;
  color: white;
  font-weight: 500;
}

#workspaces button.focused {
  background: #fc9403;
  border-bottom: 2px solid white;
}

#temperature,
#cpu,
#memory,
#backlight,
#pulseaudio,
#network,
#battery,
#tray,
#clock {
  padding: 0 5px;
}

#temperature button:hover,
#cpu button:hover,
#memory button:hover,
#backlight button:hover,
#pulseaudio button:hover,
#network button:hover,
#battery button:hover,
#tray button:hover,
#workspaces button:hover {
  background: #fcc203;
  border-bottom: 2px solid white;
}

@keyframes blink {
  to {
      background-color: #C70039;
      color: white;
  }
}

